# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Bag files and datasets
/data/rgbd_dataset/datasets/*

# Geany project files
*.geany

# Stuff that isn't ready yet


/docs/CMakeLists.txt
/docs/Doxyfile.in
