<launch>
    <!--*******************************       Visualization         *******************************-->   

    <!--*******************************         Arguments           *******************************-->  

    <!--*******************************           Nodes             *******************************-->

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find lara_rgbd)/launch/settings.rviz"/>

</launch>
